*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*MIX*/
.bold{
  font-weight: bold;
}
.f-s-20{
  font-size: 20px;
}
.white{
  color: white;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: darkgrey;
}

header{
  margin-bottom: 20px;
}
.search_bar{
  width: 100%;
  background-color: black;
  height: 100px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-logo{
  width: 200px;
  cursor: pointer;
}

.search_container{
  justify-content: flex-end;
}
.search_bar input{
  width: 200px;
  height: 30px;
}
.search_bar button{
  height: 30px;
  width: 50px;
}
.wrapper{
  width: 100%;
}
.lista-film, .lista-serie{
  text-align: center;
  font-size: 30px;
  color: red;
}
.film-container, .serie-container{
  margin: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie{
  list-style: none;
}

.movies-page-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.numero_pagine{
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.star-list{
  display: flex;
  list-style: none;
  color: #e6e600;
}

.poster-img{
  width: 342px;
  height: 500px;
}

.flag_img{
  width: 30px;
}

/*LAYOVER*/
.layover-container{
  width: 342px;
  height: 100%;
  margin: 20px;
  position: relative;
  overflow-y: auto;
  cursor: pointer;
}

.layover{
  width: 100%;
  height: calc(100% - 4px);
  background-color: black;
  color: white;
  padding: 50px 20px 5px 20px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 1s;
}
.layover-container:hover .layover{
  display: block;
  transition: opacity 0.3s;
}
.layover:hover{
  opacity: 1;
}

.title, .original-title, .language, .star-list{
  margin-bottom: 10px;
}
